<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinuxPod</title>
</head>
<body>
    <div class="page">
    <h2>LinuxPod</h2>

    <form action="#" method="get">
        <a href="{% url 'update_homepage' %}">Update</a>
    </form>
    <ul>
        {% for episode in episodes %}
            <li>
            {{ episode.podcast_name }}
                <a href="{{ episode.link }}" >{{ episode.title }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>
